.bountysource-notice.discusion-topic-infobar {
  border-top: 0;
}

.bountysource-notice-header img {
  height: 100%;
  max-height: 60px;
  width: auto;
}

.bountysource-notice-header img, .bountysource-notice .minibutton {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
}

.bountysource-accepted-solution {
  margin-top: 6px;
}
