<!DOCTYPE html>
<html ng-app="app" ng-csp>
<head>
  <title>Bountysource Browser Extension</title>
  <script src="vendor/js/angular-1.2.26.min.js"></script>
  <script src="vendor/js/angular-route-1.2.26.min.js"></script>
  <script src="vendor/js/angular-sanitize-1.2.26.min.js"></script>
  <script src="vendor/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
  <!--<script src="vendor/js/angular-ui-bootstrap-typeahead.js"></script>-->
  <script src="application.js"></script>
  <script src="routes.js"></script>
  <script src="directives/encodeEntities.js"></script>
  <script src="typeahead_controller.js"></script>
  <script src="home.js"></script>
  <script src="teams.js"></script>

  <link href="vendor/css/bootstrap-3.3.0.min.css" media="screen" rel="stylesheet" />
  <link href="vendor/css/angular-csp-1.2.26.css" media="screen" rel="stylesheet" />
  <link href="application.css" media="screen" rel="stylesheet" />
</head>
<body>

  <form ng-controller="TypeaheadController">
    <div class="form-group" style="min-width: 300px; ">
      <input type="text" class="form-control" ng-model="typeahead.query" ng-keydown="typeahead.input_keydown($event)" ng-change="typeahead.input_changed()" placeholder="Start typing to search projects..." />
    </div>
    <table class="table table-condensed typeahead-results" ng-show="typeahead.results.length>0">
      <tr ng-repeat="item in typeahead.results" ng-click="typeahead.result_selected($index)" ng-class="{ 'typeahead-highlighted-row': $index === typeahead.activeIdx }" ng-mouseover="typeahead.row_hovered($index)">
        <td><img ng-src="{{item.image_url}}" style="width:24px; height:24px; border-radius: 5px" /></td>
        <td style="width: 100%"><span style="font-size:16px; font-weight: bold">{{item.name}}</span></td>
      </tr>
    </table>
    <div ng-show="typeahead.results.length === 0">
      No results.
    </div>

    <div ng-show="typeahead.results === null" style="padding: 5px">
      <div ng-view></div>
    </div>
  </form>

</body>
</html>
